In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("internship2.db")

conn.execute("""
CREATE TABLE mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
);
""")

conn.execute("""
CREATE TABLE interns (
    id INTEGER PRIMARY KEY,
    name TEXT,
    track TEXT,
    stipend INTEGER
);
""")

conn.executemany("INSERT INTO mentors VALUES (?, ?, ?)", [
    (1, 'Rahul', 'Data Science'),
    (2, 'Sneha', 'Web Dev'),
    (3, 'Arjun', 'AI/ML')
])

conn.executemany("INSERT INTO interns VALUES (?, ?, ?, ?)", [
    (1, 'Asha', 'Data Science', 6000),
    (2, 'Rohan', 'Web Dev', 4500),
    (3, 'Meera', 'AI/ML', 7000),
    (4, 'Kiran', 'Data Science', 5500)
])

conn.commit()

df = pd.read_sql_query("""
SELECT i.id,
       i.name,
       i.track,
       i.stipend,
       m.mentor_name
FROM interns i
INNER JOIN mentors m
ON i.track = m.track;
""", conn)

conn.close()

df

   id   name         track  stipend mentor_name
0   1   Asha  Data Science     6000       Rahul
1   2  Rohan       Web Dev     4500       Sneha
2   3  Meera         AI/ML     7000       Arjun
3   4  Kiran  Data Science     5500       Rahul